body{
    
    margin: 20px;   
    text-align: center;
    font-size: larger;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #2b2839;
}


.card{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 400px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    background-color: #2D3047;
    color: #419D78;
    border-bottom: 5px solid #d8cefe;

}
.border-blue{
    background-color: #2D3047;
    font-style: italic;
    margin: 20px auto;
}

.img{
    width: 150px;
    border-radius: 100px;
    }